<% action = (note.persisted?) ? note_url(note) : notes_url %>
<% method = (note.persisted?) ? "PATCH" : "POST" %>

<form action="<%= action %>" method="POST">

  <input type="hidden"
  name="authenticity_token"
  value="<%= form_authenticity_token %>" >

  <input type="hidden"
  name="_method"
  value="<%= method %>" >

  <br><label for="note_name"> Name </label>
  <input type="text"
  name="note[name]"
  value="<%=note.name%>"
  id="note_name" >

  <br><label for="note_track_id"> Track </label>
  <select name="note[track_id]" id="note_track_id">
    <option value="<%= @track.id %>" selected="selected"> <%= @track.name %> </option>
    <% (@tracks - [@track]).each do |track| %>
    <option value="<%= track.id %>"> <%= track.name %> </option>
    <% end %>
  </select>

  <br><label for="note_body"> Note </label>
  <textarea name="note[body]" id="note_body"></textarea>

  <% submit_text = (note.persisted? ? 'Update' : 'Create') + ' note!' %>
  <br><input type="submit" value="<%= submit_text %>">
</form>
