<h1><%= @track.author_name %> — <%= @track.name %></h1>

<%= @track.lyrics %>

<br><br><%= render @track.notes %>

<br><%= link_to "Back to #{@track.album_name}", album_url(@track.album) %>
<br><%= link_to "Edit Track", edit_track_url(@track) %>
<br><%= link_to "Write a note for this track", new_track_note_url(@track) %>
