<!DOCTYPE html>
<html>
<head>
  <title>MusicApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if current_user.nil? %>
  <%= link_to "Login", new_session_url %>
  <%= link_to "Sign Up!", new_user_url %>
<% else %>
  <%= link_to "Profile", user_url %>
  <%= link_to "Logout", session_url, method: :delete %>
<% end %>

<%= yield %>

</body>
</html>
